body {
background-color:#EFF7F6;
margin: 0%;
}

header{
    display: flex;
    position: fixed;
    right: 0%;
    background-color: #F7D6E0;
    border:solid #F2B5D4;
    height: 50px;
    top: 0%;
    width: 400px;
    border-bottom-left-radius: 25px;
}

ul{
list-style: none;   
}  


footer{
display: flex;
text-align: center;
background-color:#F2B5D4;
border-top:solid #F7D6E0;
border-bottom:solid #B2F7EF;
height: 50px;
bottom: 0%;
width: 800px;
position: fixed;
}

.text{
    text-align: left;
}
aside{
    display: flex;
    background-color: #7BDFF2;
    border: solid #F2B5D4;
    position: fixed;
    right: 0%;
    top: 7.7%;
    height: 500px;
    text-align:center;
    width: 200px;
    border-bottom-left-radius: 25px;
}

section{
display: flex;
background-color: #B2F7EF;
border:solid #7BDFF2;
margin-right: 30%;
position: fixed;

}

.bild
{
background-color: #7BDFF2;
text-align: center;
height: 50%;
}

a{
text-decoration: none;   
font-family: 'Nunito', sans-serif;
}